.page-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.main-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Navs */
.side-nav {
    width: 7%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    border-right: solid 1px grey;
}

#side-nav-content {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#side-nav-content>a {
    width: 120%;
    margin: 0.5rem;
}

#side-nav-content>a>img {
    width: 100%;
}

.top-nav {
    z-index: 100;
    top: 0;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

#top-nav-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

#top-nav-link {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    white-space: nowrap; /* Prevent text wrapping */
    padding: 0.5rem 1rem; /* Optional: Add padding for better appearance */
}

#top-nav-logo{
    width: 10%;
}
#top-nav-logo > img{
    width: 50%;
    height: auto;
}

#top-nav-link{
    border-radius: 20px;
    transition: all 300ms ease;
}
#top-nav-link:hover{
    background-color: #2c343d;
    box-shadow: 6px 6px 2px rgb(255, 255, 255)
}

/* Main Body Contents */
.main-body {
    display: flex;
    flex-direction: column;
    position: inherit;
    height: 100%;
    margin-top: 5%;
    margin-left: 7%;
}

/* Hero Header*/
.hero-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.team-header-main {
    font-size: 5rem;
    font-weight: 700;
    filter: drop-shadow(0px 0px 30px #ffffff);
    padding: 0 0 1rem 0;

    background: radial-gradient(circle, rgb(255, 255, 255), #83d2ff);
    background-clip: text;
    color: transparent;
    animation: header-grad-boxShadow 8s ease-in-out infinite; 
    /* ^ global.css header-animation */
    background-size: 200% 200%;
}

.hero-header>img {
    padding: 1rem 0 0 0;
    width: 50%;
}

.hero-button2 {
    display: flex;
    color: #000000;
    background-color: #ffffff;
    margin-top: 1%;
    padding: .5rem 1rem .5rem 1.5rem;
    border-radius: 23rem;
    transition: all .3s ease;
    font-weight: 700;
    cursor: pointer;
    align-items: center;
    font-size: 1.5rem;
    border: none;
}

.hero-button2>.arrow {
    width: 6px;
    height: 6px;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    position: relative;
    transform: rotate(-45deg);
    margin: 0 6px;
    transition: all .3s ease;
}

.hero-button2>.arrow::before {
    display: block;
    background-color: currentColor;
    width: 3px;
    transform-origin: bottom right;
    height: 2px;
    position: absolute;
    opacity: 0;
    bottom: calc(-2px / 2);
    transform: rotate(45deg);
    transition: all .3s ease;
    content: "";
    right: 0;
}

.hero-button2:hover>.arrow {
    transform: rotate(-45deg) translate(4px, 4px);
    border-color: text-hover-color;
}

.hero-button2:hover>.arrow::before {
    opacity: 1;
    width: 8px;
}

.hero-button2:hover {
    -webkit-box-shadow: 0px 0px 0px 4px #000000, 0px 0px 0px 8px #4B4C4B, 0px 0px 0px 12px #828482, 0px 0px 0px 15.5px #B2B5B2, 0px 0px 0px 19.5px #DADDDA, 0px 0px 20px 16px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px 4px #000000, 0px 0px 0px 8px #4B4C4B, 0px 0px 0px 12px #828482, 0px 0px 0px 15.5px #B2B5B2, 0px 0px 0px 19.5px #DADDDA, 0px 0px 20px 16px rgba(0, 0, 0, 0);
}

/* Footer */
.page-footer {
    bottom: 0;
    border-top: solid grey 1px;
    display: flex;
    width: 100%;
    margin: 1rem 0 0 0;
}
.popular-container{
    padding: 2rem 8rem 0 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem
}
.support-container{
    padding: 2rem 0 0 3rem;
    border-left: solid grey 1px;

}